# Node dependencies
node_modules/

# Build output
backend/dist/
frontend/dist/

# Env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE files
.vscode/
